/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



body
{
  margin: 0;
}

html
{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


.container
{
  margin:0 auto;
  width: 1440px;
}

.Lern
{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 121px 165px;
}

.hero
{
  background-image: url(../image/bg.svg);
  height:100%;
}

.hero-text-box
{
  width: 525px;
}

.hero-title
{
  margin-top: 0;
  font-family: 'Poppins';
font-weight: 700;
font-size: 50px;
line-height: 55px;
color: #FFFFFF;
}

.hero-text
{
  font-family: 'Poppins';
  margin: 11px 0;
font-weight: 500;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
}

.hero-info-box-link
{
  display: block;
  padding: 17px 110px;
  font-family: 'Poppins';
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.267857px;
  color: #FFFFFF;
  background-color: #5E54A4;
  -webkit-box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
          box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
}

.hero-info-rectangle
{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 540px;
  margin: 0;
  margin-top: 24px;
  padding: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
          box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
}





.hero-input
{
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
  width: 460px;
  padding: 15px 32px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.25px;
  caret-color: #5E54A4;
  color: #3D3B48;
  background-color: #FFFFFF;
  border: 1px solid #5E54A4;
  border-radius: 5px;
}

.hero-input:not(:-moz-placeholder-shown):not(:focus):invalid ~ .error
{
  opacity: 1;
}

.hero-input:not(:-ms-input-placeholder):not(:focus):invalid ~ .error
{
  opacity: 1;
}

.hero-input:not(:placeholder-shown):not(:focus):invalid ~ .error
{
  opacity: 1;
}

.hezo-input:not(:-moz-placeholder-shown):not(:focus):invalid
{
  background-image: url(../image/error.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: right 27px center;
}

.hezo-input:not(:-ms-input-placeholder):not(:focus):invalid
{
  background-image: url(../image/error.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: right 27px center;
}

.hezo-input:not(:placeholder-shown):not(:focus):invalid
{
  background-image: url(../image/error.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: right 27px center;
}
.error
{
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: right;
  color: #FF7979;
  opacity: 0;
  margin-bottom: 20px;
}
.hero-button
{
  width: 460px;
  padding: 15px  0;
  font-family: 'Poppins';
font-weight: 600;
font-size: 15px;
line-height: 26px;
letter-spacing: 1px;
color: #FFFFFF;
background-color: #38CC8B;
-webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
        box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
border-radius: 5px;
}

.hero-terms
{
  margin-bottom: 0;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 26px;
text-align: center;
color: #BAB7D4;
}

.hero-terms-link
{
  text-decoration: none;
  color: red;
}


